.favourites-yellow{
    color: yellow;
    border-color:black;
}

.font-style{
  font-size: 16px;
  color: #676a6c;
  font-weight: 500;
}

.m-10{
  margin: 10px;
}

.list-row{
 display: flex;
 border-bottom: 1px solid #e2e2e2;
}

.height-276{
  height: 276px;
}

.list-row:hover{
  background-color: #e0f7fa
}

.lean-scroll{
   max-height: 500px;
 overflow: auto;
}

.status{
 flex-grow:0;
 padding: 10px;
 cursor:pointer;
}

.content{
  flex-grow:1;
  padding-top:10px;
  padding-bottom:10px;
}

.action{
  flex-grow:0;
  padding:10px;
  cursor:pointer;
  color: #8c8b8b;
}

.action:hover{
  color: hsl(0, 1%, 26%);
}

.list-row .action {
  display:none;
}

.list-row:hover .action {
  display:block;
}
